.home-background {
    background: url('https://cpp-fitness.s3.us-east-1.amazonaws.com/wrkpic.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(54, 193, 188);
    text-align: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.6); /* Dark overlay for readability */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.home-content h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.home-content .btn {
    padding: 12px 20px;
    font-size: 1.2rem;
    margin: 10px;
    border-radius: 8px;
}
