{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="home-background">
    <div class="overlay">     
<div class="home-content text-center">
    <h1>Welcome to Fitness Coaching</h1>
    <p>Track your workouts and diet plans easily.</p>
    {% if user.is_authenticated %}
        <a href="{% url 'workout_list' %}" class="btn btn-primary">View Workouts</a>
        <a href="{% url 'diet_list' %}" class="btn btn-secondary">View Diet Plans</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-success">Login to Get Started</a>
    {% endif %}
</div>
    </div>
</div>
{% endblock %}
