{% extends 'base.html' %}

{% block content %}
<h2>Your Diet Plans</h2>
<a href="{% url 'add_diet' %}" class="btn btn-primary mb-3">Add New Diet</a>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Meal Name</th>
            <th>Protien</th>
            <th>Grams</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for diet in diets %}
        <tr>
            <td>{{ diet.meal_name }}</td>
            <td>{{ diet.protien }}</td>
            <td>{{diet.grams}}</td>
            <td>{{ diet.date }}</td>
            <td>
                <a href="{% url 'delete_diet' diet.id %}" class="btn btn-danger btn-sm">Delete</a>
                <a href="{% url 'update_diet' diet.id %}" class="btn btn-warning btn-sm">Update</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
