{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="home-background">
    <div class="overlay">     
<div class="home-content text-center">
    <h1>Welcome To Food World</h1>
    <p>Track your Food Recipe and Starters Menu easily.</p>
    {% if user.is_authenticated %}
        <a href="{% url 'maindish_list' %}" class="btn btn-primary">View Maindish</a>
        <a href="{% url 'starters_list' %}" class="btn btn-secondary">View Starters</a>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-success">Login to Get Started</a>
    {% endif %}
</div>
    </div>
</div>
{% endblock %}
